.donate-page {
  font-family: "Titillium Web", sans-serif;
}

.donate-picture {
  height: 500px;
  background-image: url('https://images.wallpaperscraft.com/image/dog_costume_sitting_shepherd_113709_3840x2160.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
}
#sub-donate-header {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media(max-width: 1005px){
    #sub-donate-header{
        width: 100%;
    }
    #sub-donate-header h2 h3{
        width: 100%;
    }
} */
#sub-donate-header button {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  background-color: #e9a614;
  font-size: 22px;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
  
}
#sub-donate-header h2 {
  margin-bottom: 5px;
}

#sub-donate-header h3 {
  text-align: center;
  width: 800px;
  margin-top: 0px;
  font-weight: lighter;
  color: grey;
}
@media(max-width: 1005px){
    #sub-donate-header{
        width: 100%;
        height: 300px;
    }
    #sub-donate-header h2{
        width: 100%;
    }
    #sub-donate-header h3{
        width: 100%;
    }
}
.types-donation {
  height: 500px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donation-types-row {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.donation-types-row h3,
h4 {
  margin: 0px;
}
.donation-types-row h4 {
  font-size: 12px;
}
.donations-giving-box h1 {
  margin: 5px;
}
.donations-giving-box {
  width: 400px;
  height: 400px;
  padding-left: 25px;
  text-align: start;
  display: flex;
  /* justify-content: start; */
  align-items: start;
  flex-direction: column;
}
#donate-picture {
  width: 600px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);
  box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);

}
@media(max-width: 1005px){
    .types-donation{
        flex-direction: column;
        height: 800px;
        justify-content: center;
        
    }
    .donations-giving-box{
        padding-left: 0px;
        text-align: center;
    }
    .donations-giving-box h1{
        width: 100%;
        align-items: center;
    }
    #donate-picture{
        padding: 0px;
    }
}
#amazon-header{
    width: 100%;
}

.amazon-section{
    height: 500px;
    display: flex;
    justify-content: center;
}
.amazon-section img{
    width: 250px;
    -webkit-box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 2px 24px 24px -9px rgba(0,0,0,0.75);

}
.animal-wishlist-box{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    justify-content: space-evenly;
}
.animal-wishlist-box button{
    width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: #e9a614;
  font-size: 17px
}
@media(max-width: 1005px){
    .amazon-section{
        flex-direction: column;
        height: 920px;
    }
    .animal-wishlist-box{
        align-items: center;
    }
    .animal-wishlist-box button{
        margin-top: 15px;
    }
}

.donate-sub-footer{
    height: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.donate-logos{
    width: 250px;
    height: 60px;
}
.donate-sub-footer p{
    width: 400px;
    font-size: 11px;
    text-align: center;
}
@media(max-width: 1005px){
    .donate-sub-footer{
        flex-direction: column;
        height: 300px;
        align-items: center;
        text-align: center;
    }
    #amazon-smile-box{

    }
    #smiths-box{
        /* display: flex; */
        /* align-items: center; */
    }
}
.amazon-btn{
  box-shadow: 0px 7px 0px -1px black;
  border: 0px;
  cursor: pointer;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: #e9a614;
  font-size: 17px;
  text-decoration: none;
  color: black;
}
#amazon-btn{
  box-shadow: 0px 7px 0px -1px black;
  border: 0px;
  width: 300px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}